.col-12 h1 {
    text-align: center;
    font-family: 'Julius Sans One', sans-serif;
    margin-bottom: 70px;
    margin-top: 30px;
}

.container {
    margin: 40px;
}

#header {
    border-bottom: solid black 1px;
    margin-bottom: 30px;
}
.col-6 h5 {
    font-size: 15px;
    margin: 20px;
}

#secondArea {
    border: black solid 1px;
}

#secondArea p {
    margin-top: 15px;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    line-height: 3;
}

#randomNumber {
    margin-top: 15px;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    line-height: 3;
    margin-left: 80px;
}

#yourScore {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
}

 #wins {
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

#losses {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.yourScoreIs {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

#scoreMessage {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

 #crystals {
    margin-top: 30px;
    height: 250;
    width: 250;
}