
.col-12 h1 {
    text-align: center;
    font-family: 'Julius Sans One', sans-serif;
    margin-bottom: 70px;
    margin-top: 30px;
}

#header {
    border-bottom: solid black 3px;
    margin-bottom: 30px;
}
.col-6 h5 {
    font-size: 15px;
    margin: 20px;
}

#secondArea {
    border: black solid 1px;
    margin: 50px;
    width: 1050px;
    float: none;
}

#secondArea p {
    margin-top: 15px;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    line-height: 3;
}

#randomNumber {
    margin-top: 50px;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    line-height: 3;
    margin-left: 80px;
    font-weight: bold;
}

#yourScore {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: bold;
}

 #wins {
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

#losses {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.yourScoreIs {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

#scoreMessage {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

 #crystalsArea{
    margin-left: 50px;
    height: 250;
    border: solid black 1px;
    width: 1050px;

}

@media screen and (max-width: 1000px) { 
    #secondArea {
        width: 75%;
        margin: 30px;
        height: 75%;;
    }

    #crystalsArea {
        width: 75%;
        margin: 30px;
        height: 75%;;  
    }

}

@media screen and (max-width: 768px) { 
    #secondArea {
        width: 75%;
        margin: 30px;
        height: 75%;;
    }

    #crystalsArea {
        width: 75%;
        margin: 30px;
        height: 75%;;  
    }

}

@media screen and (max-width: 640px) { 
    #secondArea {
        width: 75%;
        margin: 30px;
        height: 75%;;
    }

    #crystalsArea {
        width: 75%;
        margin: 30px;
        height: 75%;;  
    }
}